/*--------------------CSS Página--------------------*/
body {
	font-family: 'Poppins', sans-serif;
	max-width: 1280px;
	margin: 0 auto;
	background-image: url('../imagens/fundo_site.jpg');
	background-color: rgb(46, 139, 87);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}
/*--------------------------------------------------*/
/*--------------------CSS Header--------------------*/
header{
	display: flex;
    justify-content: center;
	font-style: none;
    background-color: rgb(46, 139, 87);
    padding: 0;
}
/*.titulo{
	background-color: rgb(46, 139, 87);
}
/*--------------------------------------------------*/
/*--------------------CSS Conteúdo Site--------------------*/
.row{
    padding: 0 20px;
}
section{
    margin: auto;
    width: 70%;
}
.card{
    background-color: rgb(105, 105, 105);
    padding: 20px;
    margin-top: 20px;
	border-radius: 10px;
}
.titulocard{
	font-size: 20px;
}
article{
    color: white;
}
/*--------------------------------------------------*/
/*--------------------CSS Footer--------------------*/
footer{
    padding: 20px;
    background-color: rgb(46, 139, 87);
    margin-top: 20px;
}
footer dd{
    margin-left: 0;
}
footer dl, dd{
    text-align: center;
}
/*--------------------------------------------------*/



